img {
    height: 150px;
}
/* recipe description*/
.description{
    font-size: 20px;
}
#cook-time{
    font-weight: bold;
}
/*parent-element child-element {}*/
.ingredients li {
    list-style: square;
}
/*element.class {}*/
p.time{
    color: gray;
}
.external-link{
    color: SeaGreen;
}
h1, h2, p, li{
    font-family: Helvetica;
}